#clippedDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 28px;
    height: 32px;
    background-color: #54bcbd;
    color: white;
    -webkit-clip-path: polygon(50% 0%, 100% 0, 100% 35%, 50% 70%, 0 35%, 0 0);
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
}

#clippedDivNOne {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 28px;
    height: 32px;
    background-color: white;
    color: #0F3F62;
    font-family: Avenir;
    font-size: 16px;
    font-weight: 500;
    line-height: 21.86px;
    letter-spacing: 0.02em;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}
#adjust{
    margin-left: 12px;
}