.navLink {
    /* background: linear-gradient(90.14deg, #54BCBD 0.12%, rgba(84, 188, 189, 0.2) 99.89%); */
    width: 240px;
    height: 50px;
    opacity: 0.2px;
    display: flex;
    align-items: center;
    color: #8695A0;
}
.navLink:hover {
    background: linear-gradient(90.14deg, #54BCBD 0.12%, rgba(84, 188, 189, 0.2) 99.89%);
    color: #54bcbd;
  }